* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

.img {
    display: block;
    max-height: 500px;
}

.hide {
    display: none;
}

#quiz-form, #result {
    margin: 5%;
}

.yes {
    color: green;
    font-weight: bold;
}

.no {
    color: red;
    font-weight: bold;
}

#btn {
    margin-top: 20px;
}

#result {
    font-size: 20px;
}

.border-green {
    border: 10px solid green;
}

.border-red {
    border: 10px solid red;
}